<footer class="footer">
  <hr />
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <fa-icon [icon]="faUtensils" class="px-2"></fa-icon>Made by
        <a href="{{ authorUrl }}">{{ authorName }}</a>
        <span class="px-0"> &#124;</span>
        <fa-icon [icon]="faGithub" class="px-1"></fa-icon>
        <a target="_blank" rel="noopener noreferrer" href="{{ sourceCodeUrl }}">Source</a>
        ({{ gitRevision }})
        <span class="px-0"> &#124;</span>
        <a target="_blank" rel="noopener noreferrer" href="https://icons8.com/icons/set/car">
          <fa-icon [icon]="faCar" class="px-1"></fa-icon>icon</a>
        by <a target="_blank" rel="noopener noreferrer" href="https://icons8.com">Icons8</a>
      </p>
    </div>
  </div>
</footer>
